{
	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order mercure after encode
	order vulcain after reverse_proxy
	order php_server before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
	log {
		# Redact the authorization query parameter that can be set by Mercure
		format filter {
			wrap console
			fields {
				uri query {
					replace authorization REDACTED
				}
			}
		}
	}

	root * /app/public
	encode zstd br gzip

	mercure {
		# Transport to use (default to Bolt)
		transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
		# Publisher JWT key
		publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
		# Subscriber JWT key
		subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
		# Allow anonymous subscribers (double-check that it's what you want)
		anonymous
		# Enable the subscription API (double-check that it's what you want)
		subscriptions
		cors_origins http://localhost:9000 http://localhost
		# Extra directives
		{$MERCURE_EXTRA_DIRECTIVES}
	}

	vulcain

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	# Disable Topics tracking if not enabled explicitly: https://github.com/jkarlin/topics
	header ?Permissions-Policy "browsing-topics=()"

	  #----------------------------- FDN Reverse Proxies -------------------------------
    # /login
    # @login expression path('/login') && !header({'Accept': '*text/html*'})
    # reverse_proxy @login http://{$PWA_UPSTREAM}


    # Matches requests for HTML documents, for static files and for Nuxt.js files,
    # except for known API paths and paths with extensions handled by API Platform
    @nuxt expression `(
            header({'Accept': '*text/html*'})
            && !path(
                 '/index*','/logout', '/docs*', '/borrar*', '/api*', '/graphql*', '/schema.graphql', '/bundles*', '/contexts*', '/_profiler*', '/_wdt*', '/test_event',
                '*.json*', '*.html', '*.csv', '*.yml', '*.yaml', '*.xml', '/auth', '/nuxt.svg'
            )
        )
        || path('/favicon.ico', '/manifest.json', '/robots.txt', '/_nuxt*', '.cache*', '/sitemap*', '/font*', '*.png', '/api_icon*', '_vsf*', '*nuxt_devtools*')`

    reverse_proxy @nuxt http://{$PWA_UPSTREAM}


	php_server
}
